<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="written emotions, hear warming writings by young writers">
  <meta name="keywords" content="shabd, shayari, ghazal, writings, poems">
  <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Add writings | Shabd</title>
</head>

<body>
  <style>
    #hello-msg {
      font-size: 18px;
      color: #fff;
      margin-right: 20px;
      text-decoration: none;
    }
  </style>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #01F7F7!important;">
    <div class="container-fluid">
      <a class="navbar-brand" style="color:black; font-weight: bold;" href="/">Shabd</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" style="color:black; font-weight: bold;" aria-current="page" href="/">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color:black; font-weight: bold;" id="navbarDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ghazals
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/new_ghazals">New Ghazals</a></li>
              <li><a class="dropdown-item" href="/famous_ghazals">Famous Ghazals</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" target="_blank"
                  href="https://www.youtube.com/channel/UCkZHE4RJOorG7edUfoGrVRA">Videos</a></li>
            </ul>
          </li>

        </ul>
        <form class="d-flex" method="POST" action="{% url 'search' %}">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
          <button style=" padding:4px; " class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
    <!-- Example split danger button -->
    <div class="btn-group">
      <button type="button" class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-person-circle"
          viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>
      </button>
      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split mr-3" data-bs-toggle="dropdown"
        aria-expanded="false">
        <!-- <span class="visually-hidden">Toggle Dropdown</span> -->
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
        <li><a class="dropdown-item" href="accounts/change_password">Change Password</a></li>
      </ul>
    </div>
    <span style="color: black; font-weight: bold;" id="hello-msg">Hello, {{request.user}} </span>
  </nav>

  <center>
    <h5>Add your writnigs here....</h5>
    <h6>and wait for verification to visible your writings on website</h6>
  </center>
  <div class="form-group mx-20 my-4">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-secondary">Post</button>
  </div>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>