<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="written emotions, hear warming writings by young writers">
  <meta name="keywords" content="shabd, shayari, ghazal, writings, poems">
  <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">

  <title>{% block title%}{% endblock title %}| Shabd</title>
</head>

<body>
<style>
body{
  font-family: 'Itim', cursive;
}
.dropdown-toggle::after{
  Content: none;
}

</style>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #9E1A06!important;">
          

      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand ml-1" style="color:black; font-weight: bold;" href="/">Shabd</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mr-2 mb-lg-0" >
          <li class="nav-item dropdown">
              <li><a class="dropdown-item" style="color:black; font-weight: bold;" href="/new_ghazals">New Ghazals</a></li>
              <li><a class="dropdown-item" style="color:black; font-weight: bold;" href="/famous_ghazals">Famous Ghazals</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" style="color:black; font-weight: bold;" target="_blank"
                  href="https://www.youtube.com/channel/UCkZHE4RJOorG7edUfoGrVRA">Videos</a></li>
            {% comment %} </ul> {% endcomment %}
          </li>
        </ul>
      </div>
    <div class="dropdown">
      <button class="btn btn-primary btn-lg dropdown-toggle mx-2" type="button"data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-person-circle"
          viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>
      </button>
      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end">
        <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
        <li><a class="dropdown-item" href="{% url 'signup' %}">Signup</a></li>
      </ul>
    </div>
    <!-- Button trigger signup modal -->
    <button style="position: relative;
  left: 2px;" type="button" class="btn btn-dark mr-2" onclick="location.href='/add_writings'">
      Add Post
    </button>
    
  </nav>
<div  style="background-color: #9E1A06!important; padding:3px;">
<form class="d-flex" method="POST" action="{% url 'search' %}">
          {% csrf_token %}
          <input class="form-control me-2 ml-4" type="search" placeholder="Search" aria-label="Search" name="searched">
          <button style=" padding:4px; " class="btn btn-secondary mr-4" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
          </button>
        </form>
</div>
  <!-- Optional JavaScript; choose one of the two! -->
  {% block body %} {% endblock body %}
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <hr>
<footer class="text-gray-600 body-font" style="background-color:#9E1A06!important;">
  <div class="container px-2 py-2 mx-auto flex items-center sm:flex-row flex-col">
            <a class="nav-link" style="color:black; font-weight: bold;" href="/">SHABD</a>
            <a class="nav-link" style="color:black; font-weight: bold;" href="/about">About us</a> 
            <a class="nav-link" style="color:black; font-weight: bold;" href="/contact">Contact us</a>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a class="text-gray-500">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
        </svg>
      </a>
      <a href="https://twitter.com/kanojia_saab_?s=08" target="_blank" class="ml-3 text-gray-500">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
        </svg>
      </a>
      <a href="https://www.instagram.com/shabd_by_suraj/" target="_blank"class="ml-3 text-gray-500">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
    </span>
  </div>
</footer>
</body>

</html>
